/* Variaveis e styles global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Saira', sans-serif;
}
ul, li, a{
    color: var(--white);
    list-style: none;
    text-decoration: none;
    text-decoration-color: none;
    
}
html{
    scroll-behavior: smooth;
}
:root {
    --white:#ffff;
    --background-primary:#080713;
    --background-secundary:#0b0a17;
    
    --border-one:#e51d37;
    --border-two:#00a3ff;

    --text-point:#6610f2;
    --color-paragraph:#b0b0b0;
    
    --border-bottom:0.1px solid rgba(255, 255, 255, 0.150);
    --padding:9.6rem;
    font-size: 62.5%;
}
.wrapper{
    width: 102.4rem;     
}
.btn{
    background: linear-gradient(225deg, rgba(102,16,242,0.3) 0%, rgba(102,16,242,0) 100%);
    width: 23rem;
    height: 5.8rem;
    border: 0.5px solid var(--text-point);

    display: flex;
    align-items: center;   
    justify-content: center;
    font-size: 1.8rem;
    cursor:pointer;
    
}
.btn:hover{
    transition: .5s;
    transform: scalex(1.1);
}
.icon{
    width: 50rem;
}
.icon-services{
    width: 7rem;
    margin-bottom: 3rem;
}
