/* Variaveis e styles global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Saira', sans-serif;
    background-color: var(--background-primary);
}
ul, li, a{
    color: var(--white);
    list-style: none;
    text-decoration: none;
    text-decoration-color: none;
    
}
html{
    scroll-behavior: smooth;
}
:root {
    --white:#ffff;
    --background-primary:#080713;
    --background-secundary:#0b0a17;
    
    --border-one:#e51d37;
    --border-two:#00a3ff;

    --text-point:#6610f2;
    --color-paragraph:#b0b0b0;
    
    --border-bottom:0.1px solid rgba(255, 255, 255, 0.150);
    --padding:9.6rem;
    font-size: 62.5%;
}
.wrapper{
    width: 102.4rem;     
}
.btn-contatos{
    background: linear-gradient(225deg, rgba(102,16,242,0.3) 0%, rgba(102,16,242,0) 100%);
    width: 23rem;
    height: 5.8rem;
    border: 0.5px solid var(--text-point);

    display: flex;
    align-items: center;   
    justify-content: center;
    font-size: 1.8rem;
    cursor:pointer;
    
}
.btn-contatos-menu{
    background: linear-gradient(225deg, rgba(102,16,242,0.3) 0%, rgba(102,16,242,0) 100%);
    width: 23rem;
    height: 5.8rem;
    border: 0.5px solid var(--text-point);

    display: flex;
    align-items: center;   
    justify-content: center;
    font-size: 1.8rem;
    cursor:pointer;
    
}
.btn:hover{
    transition: .5s;
    transform: scalex(1.1);
}
.icon{
    width: 50rem;
}
.icon-services{
    width: 7rem;
    margin-bottom: 3rem;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--background-primary);
}
::-webkit-scrollbar-thumb{
    background-color: var(--text-point);
    border-radius: 2rem; 
}
body{
    scrollbar-width: thin;
    background-color: var(--background-primary);
}

#backTop {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);


}
#backTop.show {
    opacity: 1;
    visibility: visible;

    transition: 500ms;
    transform: translateY(0);
    
}
.displayNone{
    display: none;
}
.btn-menu{
    width: 3.5rem;
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    z-index: 9999;
}
