/* MENU EXPANDED */
body.menuExpanded {
    overflow: hidden;
}
body.menuExpanded #header{
    width: 100vw;
    background-color: red;
}

body.menuExpanded .logo{
    width: 15rem;
    z-index: 2001;
}
body.menuExpanded .navigation .nav-menu{
    visibility: visible;
    opacity: 1;
 
 }
body.menuExpanded .content-nav{
    background-color: var(--background-primary);
    position: absolute;
    width: 100vw;
    height: 100%;
    justify-content:center;
    transition: 0.5s ease;
    z-index: 1001;
}
    

body.menuExpanded .nav-menu{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;  
}
body.menuExpanded .nav-menu a{
    font-size: 2.4rem;
    line-height: 5rem; 
}
#btnClose{
    display: none;
}
#btnOpen{
    z-index: 2000;
}
body.menuExpanded #btnClose{
    position: absolute;
    right: 0rem;
    top: 0;
    z-index: 1000;
    display: initial;
}
body.menuExpanded #btnOpen{
    display: none;
    z-index: 1001;

}