@media screen and (min-width: 375px) and (max-width: 1023px){



/* ============ GERAL =============== */
.wrapper{

    width: 37.5rem;
    
}
/* ============ MENU EXPANDED =============== */

body.menuExpanded .nav-menu a {
    font-size: 3rem;
    }
/* ============ HEADER =============== */

#home .col-a h2{
    font-size:3.5rem;
}
#home .col-a h1{
    font-size: 5.5rem;
 
}
/* ============ ABOUT =============== */

#about .wrapper {
  width: 37.5rem;
  padding-inline: 2rem;
 
}
#about .col-b h2{
    font-size: 1.8rem;  
    
}
#about .col-b h1{
    font-size: 4.5rem;
    text-align: center;
   
}

/* ============ PROJECTS =============== */


#projects .wrapper {
    width: 37.5rem;
  }
.project{
    width: 80%;
    
}


}