@media screen and (min-width: 320px) and (max-width: 1023px){



/* ============ GERAL =============== */
.wrapper{

    width: 30rem;
    padding-inline: 1rem;
}

.icon{
    display: none;
} 
    

.navigation .nav-menu{
   visibility: hidden;
   opacity: 0;

}
/* ============ HEADER =============== */
.logo{
    position: fixed;
    top: 2rem;
    right: 16rem;
}

/* ============ HOME =============== */
#home{
    height: 90vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .col-a{
    width: 100%;
    height: 100%;
}
#home .col-a h2{
    font-size: 2rem;
}
#home .col-a h1{
    font-size: 4rem;
 
}
#btn-instagram{
    margin-top: 4rem;
    margin-inline: auto;
}

/* ============ ABOUT =============== */


#about{  
    height: 80vh;
}
#about .wrapper{
   width: 30rem;
   padding-inline: 1rem;

   display: flex;
    flex-direction: column;
    justify-content: center;
}
#about .col-b{
    width: 100%;
}
#about .col-b h2{
    font-size: 1.4rem;
    width: 100%;
   
}
#about .col-b h1{
    font-size: 4rem;
    width: 100%;
   
}
/* ============ PROJECTS =============== */


#projects{  
    height: 100%;
}
#projects .wrapper{
    width: 30rem;
    padding-inline: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project{
    width: 90%;
}

/* ============ SERVICES =============== */


#services{ 
    margin-bottom: 50rem;
    height: 100%;
}
#services .wrapper{
    width: 30rem;
    padding-inline: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services{
    width: 90%;
}
/* ============ SKILLS =============== */
#skills{
    margin-bottom: 5rem;
    height: 100%;
}
#skills .wrapper{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills .col-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills .box-txt{
    width: 30rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.description{
    width: 30rem;
    margin-bottom: 5rem;
}
#skills .col-a h1{
   font-size: 3.5rem;
}
#skills .col-b{
    display: flex;
    flex-wrap: wrap;
}
.box-skills{
    width: 32rem;
    margin-inline: auto;
}
.cards-skills{
    width: 45%;
}
}